* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    background-color: black;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
    overflow-x: hidden;
}
